body {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(43, 4, 36, 0.795);
  position: fixed;
  top: 0;
  left: 0;
  color: rgba(252, 252, 252, 0.89);
}

html, body{
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

h1{
  height: 10%;
}

#vid-div{
  display: inline-block;
  margin: 0;
  padding: 0;
}

video{
  margin: 0;
  height: 75vh;
}

td, th{
  padding: 10px;
}

strong{
  color: rgba(127, 218, 42, 0.89);
}

a {
  color: rgb(10, 166, 228);
}


